* {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
.toolbar{
  background-color: rgb(37, 2, 2);
  color: white;
} 
.card {
  background-color: rgb(37, 2, 2);;
}
.mix {
  color: rgb(238, 238, 4)
}

mat-card {
  padding: 20px;
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100vh;
}
.mat-app-background{
   background-color: black
}

.mat-tab-group {

  background-color: black;
  color: rgb(255, 255, 255);
}

.bottom {
  position: relative;
  top: 5px;
  left: 110px;
  width: 80%;
  margin-right: 110px;
} 

h3 {
  font-size: 25px;
  padding-top: 30px;
}


/* footer */
#main-footer {
  text-align: center;
  position: bottom;
  padding: 1rem;
  background: black;
  color: white;
  height: 60px;
}