<div style="text-align:center">  
  <mat-toolbar class="toolbar">
    <h2>show<span class="mix">Mix</span></h2>
  </mat-toolbar>

  <div class="mat-app-background">
    <app-title-search (searchEvent)="doSearch($event)"> </app-title-search>
  </div>

  <mat-tab-group mat-align-tabs="start">

    <mat-tab label="Main Page">
      <div>
        <h3>Popular now</h3>
        <mat-card class="card">
          <app-landing></app-landing>
        </mat-card> 
      </div>
    </mat-tab>

    <mat-tab label="Summary">
      <div>
        <h3>Summary</h3>
        <mat-card class="card">
            <app-show-result [tv]="showResult"></app-show-result> 
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Cast">
      <div>
        <h3>Cast</h3>
        <app-tv-cast [cast]="showResult"></app-tv-cast>
      </div>
    </mat-tab>

    <mat-tab label="Episodes">
      <div>
        <h3>Episodes</h3>
        <app-tv-episode [epi]="showResult"></app-tv-episode>
      </div>
    </mat-tab>

    <mat-tab label="About us">
      <mat-card class="card">
          <div>
              <h3>About us</h3>
              <p>ShowMix is a Tv show app built with Angular.</p>
              <img src = "https://angular.io/assets/images/logos/angular/angular.svg" height="200">
          </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

  <footer id="main-footer">
      Copyright &copy; 2019
    </footer>
</div>