.align-purple {
    text-align: center
}
ul {
    list-style-type: none;
}
h3 {
  color: rgb(160, 160, 155)
}
li {
   color: rgb(238, 238, 4)
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8rem;
    margin: 50px;

  }
   
  
  a{
    border: 3px rgb(73, 3, 44) solid;
    background: cover;
  }

  a:hover {
        background-color: rgb(73, 3, 44);
        transition: ease-out;
    }
  
 

  img {
      float: center;
      
  }
  