.align-purple {
    text-align: center
}
ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8rem;

  }
   
  
  a{
    border: 3px rgb(73, 3, 44) solid;
    background: cover;
  }

    a:hover {
        background-color: rgb(73, 3, 44);
        transition: ease-out;
      }
  
 

  img {
      float: left;
  }
  