<div>
  <h3> Welcome to the best way to browse TV Shows on the web.</h3>
  
  <span>

    <ul class="align-purple">
      <li>Simply type the name of the show you're searching for in the above search field.</li>
      <li>Learn all about your favorite show!</li>
    </ul>
    <br>
  </span>

  <mat-divider></mat-divider>

  <div *ngIf="home">
    <h2>Popular TV Shows !</h2>
    <div class="grid-container">   
      <a href="{{home.officialSite1}}"><img [src]='home.image1'/></a>
      <a href="{{home.officialSite2}}"><img [src]='home.image2'/></a>
      <a href="{{home.officialSite3}}"><img [src]='home.image3'/></a>
      <a href="{{home.officialSite4}}"><img [src]='home.image4'/></a>
    </div>
  </div>
  <section id="GOT">
    <iframe
      id="video"
      height="300"
      src="https://www.youtube.com/embed/rlR4PJn8b8I" 
      frameborder="0"
      allowfullscreen
    ></iframe>
  </section>
  <section id="stranger">
    <iframe
      id="video"
      height="300"
      src="https://www.youtube.com/embed/XcnHOQ-cHa0" 
      frameborder="0"
      allowfullscreen
    ></iframe>
  </section>
    
</div>


<!-- <mat-divider></mat-divider> -->

